@page
@model AddNewProductModel
@{
    ViewData["Title"] = "New Product";
}
<h1>@ViewData["Title"]</h1>
<h6>Looking for something else? Add a new product yourself</h6>


<form method="post">
    <label for="title">Title:</label><br>
    <input asp-for="Title" type="text" placeholder="Title" id="title"><br>
    <label for="proteins">Proteins in 100 g:</label><br>
    <input asp-for="ProteinsIn100g" type="number" id="proteins"><br>
    <label for="fats">Fats in 100 g:</label><br>
    <input asp-for="FatsIn100g"  type="number" id="fats"><br>
    <label for="carbs">Carbs in 100 g:</label><br>
    <input asp-for="CarbsIn100g"  type="number" id="carbs"><br>
    <label for="calories">Calories in 100 g:</label><br>
    <input asp-for="CaloriesIn100g"  type="number" id="calories"><br><br>


    <button id="addSubmit" type="submit">Add</button>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

