@page
@model VegApp.Pages.EditProductsModel

@{
    ViewData["Title"] = "EditProducts";
}

<h1>EditProducts</h1>

<h4>EatenProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EatenProduct.EatenProductId" />
              <div class="form-group">
                <label asp-for="EatenProduct.Product.ProductName" class="control-label"></label>
                <input asp-for="EatenProduct.Product.ProductName" class="form-control" />
                <span asp-validation-for="EatenProduct.Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EatenProduct.DateWhenEaten" class="control-label"></label>
                <input asp-for="EatenProduct.DateWhenEaten" class="form-control" />
                <span asp-validation-for="EatenProduct.DateWhenEaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EatenProduct.Amount" class="control-label"></label>
                <input asp-for="EatenProduct.Amount" class="form-control" />
                <span asp-validation-for="EatenProduct.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
