@page
@using VegApp.Entities
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Eat well, stay healthy!</h1>
    <p>Your new favourite app for vegetarians & pescatarians!</p>

      <p>
<form method="post">
  <label for="date">Select date:</label>
  <input asp-for="DateWhenEaten" type="date" id="DateWhenEaten" name="DateWhenEaten"  >
     
     

  <label for="products">Choose a product:</label>
  
   <select asp-for="SelectedProductId" class="select"
                asp-items="@(new SelectList(Model.Products, nameof(Product.Id), nameof(Product.ProductName)))">
          
                </select>

  <br>
 <br>
  <label for="Amount">Add grams:</label>
  <input asp-for="Amount" type="number" id="Amount" ><br>
    <br>
  <input type="submit" value="Submit">
</form>

</div>

