@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Eat well, stay healthy!</h1>
    <p>Your new favourite app for vegetarians & pescatarians!</p>

      <p>
<form action="">
  <label for="date">Select date:</label>
  <input type="date" id="date" name="date">
  

  <label for="products">Choose a product:</label>
  <select name="products" id="products">
    <option value="Artichokes">Artichokes</option>
    <option value="Beans">Beans</option>
    <option value="Carrots">Carrots</option>
    <option value="Garlic">Garlic</option>
  </select>
  <br>
 <br>
  Add grams:
  <input type="text" id="grams" name="grams"><br>
    <br>
  <input type="submit" value="Submit">
</form>

</div>
